@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Gemstones&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --font-special: "Rubik Gemstones", sans-serif;
    --font-text: "Inter", sans-serif;
    --off-white-bg: #fffbf0;
    --light-blue: #8fabd4;
    --dark-blue: #3950a3;
  }